.title{
    font: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
li{
    a{
        font-weight: bolder;
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 2px;
    }
}