<div style="overflow-x: hidden; padding: 50px;">
    <div style="max-width: 60vw; height: 88vh; margin: auto; padding-top: 50px;">
        <div class="d-flex justify-content-around align-items-center" style="height: 100%;">
            <div class="ribbon margin-content" (click)="consultDataHouse('gryffindor')">
                <img src="../../assets/images/houses/gryffindor.jpg" height="360px" width="200px" class="house-logo" />
                <div class="triangulo-equilatero-bottom"></div>
            </div>

            <div class="ribbon margin-content" (click)="consultDataHouse('hufflepuff')">
                <img src="../../assets/images/houses/Hufflepuff.jpg" height="360px" width="200px" class="house-logo" />
                <div class="triangulo-equilatero-bottom"></div>
            </div>

            <div class="ribbon margin-content" (click)="consultDataHouse('slytherin')">
                <img src="../../assets/images/houses/Slytherin.jpg" height="360px" width="200px" class="house-logo" />
                <div class="triangulo-equilatero-bottom"></div>
            </div>

            <div class="ribbon margin-content" (click)="consultDataHouse('ravenclaw')">
                <img src="../../assets/images/houses/Ravenclaw.jpg" height="360px" width="200px" class="house-logo" />
                <div class="triangulo-equilatero-bottom"></div>
            </div>
        </div>
    </div>
</div>
